p {
  margin-top: 2vh;
}

.form {
  width: 100%;
  margin-top: 3vh;
}

.full-width {
  width: 100%;
}

.fetchButton {
  height: 5vh;
  margin-top: 1vh;
  background-color: #34394f;
  color: white;
}

.joke-container {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.notFav {
  color: gray;
}
