<div>
  <img *ngIf="!isChuck" src="assets/images/Random photo@3x.png" alt="" />
  <img *ngIf="isChuck" src="assets/images/Chuck Norris photo@3x.png" alt="" />
  <div class="joke-container">
    <span>{{ joke.joke }}</span
    ><span class="button">
      <button mat-icon-button color="warn" (click)="onAddFavourite()">
        <mat-icon>favorite</mat-icon>
      </button>
    </span>
  </div>
  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Select category</mat-label>
      <mat-select
        [ngModel]="selectedCategory"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onValueChanged($event)"
      >
        <mat-option value="option1" disabled>Select category</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">{{
          category
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Impersonate Chuck Norris</mat-label>
      <input
        matInput
        [(ngModel)]="impersonateName"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <div>
      <button
        type="button"
        class="full-width fetchButton"
        mat-flat-button
        (click)="fetchJoke()"
      >
        Draw a random
        {{ impersonateName }}
        Joke
      </button>
    </div>
  </form>
</div>
