<div>
  <app-joke-image [isChuck]="isChuck"></app-joke-image>
  <div class="joke-container">
    <span>{{ joke.joke }}</span
    ><span class="button">
      <button mat-icon-button color="warn" (click)="onAddFavourite()">
        <mat-icon>favorite</mat-icon>
      </button>
    </span>
  </div>
  <form class="form">
    <app-joke-category
      (selectedCategory)="selectCategory($event)"
    ></app-joke-category>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Impersonate Chuck Norris</mat-label>
      <input
        matInput
        [(ngModel)]="impersonateName"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <div>
      <button
        type="button"
        class="full-width fetchButton"
        mat-flat-button
        (click)="fetchJoke()"
      >
        Draw a random
        {{ impersonateName }}
        Joke
      </button>
    </div>
  </form>
</div>
