* {
  font-size: 1.75vmin;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 1vmin 0;
}

.radio-button {
  margin: 0.3vmin;
}

.rateButton {
  height: 5vmin;
  margin: 1vmin;
  background-color: #34394f;
  color: white;
  font-size: 1.75vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
