.full-width {
  width: 30%;
}
p {
  font-size: 1.75vmin;
}

.rateButton {
  height: 5vmin;
  margin-top: 1vmin;
  background-color: #34394f;
  color: white;
  font-size: 1.75vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
