<mat-toolbar color="primary">
  <span class="appTitle">
    <a routerLink="/">{{ "header.appName" | translate }}</a>
  </span>
  <span class="example-spacer"></span>
  <span>
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >{{ "header.getJokesNav" | translate }}</a
    ></span
  >
  <span
    ><a routerLinkActive="active" routerLink="/favourite">{{
      "header.favJokesNav" | translate
    }}</a></span
  >
  <span
    ><a routerLinkActive="active" routerLink="/settings">
      {{ "header.settingsNav" | translate }}</a
    ></span
  >
  <mat-select
    [ngModel]="selectedLanguage"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="selectLanguage($event)"
    class="languagePicker"
  >
    <mat-option style="font-size: 1.2vh" value="en">EN</mat-option>
    <mat-option style="font-size: 1.2vh" value="pl">PL</mat-option>
  </mat-select>
</mat-toolbar>
