* {
  font-size: 1.75vmin;
}

.joke-container {
  margin-bottom: 5px;
  display: flex;
}

.button {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
