.saveJokesContainer {
  margin-top: 2%;
}

.full-width {
  width: 100%;
}

.saveButton {
  height: 5vh;
  background-color: #34394f;
  color: white;
  font-size: 1.5vh;
}

.amountButton {
  background-color: #34394f;
  display: flex;
  justify-content: center;
  height: 3vh;
  width: 3vh;
}

.amountInput {
  width: 80%;
}

.amountIcon {
  font-size: 1.8vh;
}
