.saveJokesContainer {
  margin-top: 2%;
  background-color: cornsilk;
}

.full-width {
  width: 100%;
}

.saveButton {
  height: 5vh;
  background-color: #34394f;
  color: white;
}

.amountButton {
  background-color: #34394f;
  display: flex;
  justify-content: center;
}
